body {
  height: 90%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* footbar Styles */
.footbar {
  background-color: #000;

  border-bottom: 5px solid rgb(70, 154, 108);
  border-radius: 0 0 50px 0;
  box-shadow: 0 0 80px 20px rgba(0, 0, 0, .4);
  overflow: hidden;
}


.logo_image {
  width: 40%;
  height: 80%;
}

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

.foot-links {
  display: flex;

  justify-content: flex-end;

  align-items: center;

  width: 100%;
  height: 100%;
  gap: 5%;
  margin: 0 1%;
}

:root {
  --r: 255;
  --g: 110;
  --b: 199;
}

* {
  font-family: 'Orbitron', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-weight: 400;
  transition-duration: .5s;
  color: rgb(255, 255, 255);
}

body {
  background-color: #222;
}




.footbar:hover {
  border-bottom: 2px solid rgb(var(--r), var(--g), var(--b));
  box-shadow: 0 0 20px rgba(var(--r), var(--g), var(--b), .5);
}

.footbar:hover li a {
  color: rgb(var(--r), var(--g), var(--b));
  text-shadow: 0 0 10px rgba(var(--r), var(--g), var(--b), .8);
}


.footLink:hover a {
  position: relative;
  color: rgba(255, 255, 255, 0.9);
}

a {
  text-decoration: none;
  line-height: 200%;
  text-transform: uppercase;
  /* padding: 20% 2%; */
}

.footLink:hover {
  border: 0;
  background: rgba(var(--r), var(--g), var(--b), .25);
  box-shadow: 0 0 5px 1px rgb(var(--r), var(--g), var(--b));
  border-bottom: 5px solid rgb(var(--r), var(--g), var(--b));
  color: rgb(255, 255, 255);
}

.foot-links {
  margin-right: 20px;
  display: flex;
  justify-content: space-evenly;
}
  

.footLink {
  margin-right: 20px;
  padding-right: 20px;
}


.logo {
  height: 10%;
  width: 10%;
  float: left;


}

.menu-footer {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.menu-footer li {
  margin-right: 15px;
}

.menu-footer a {
  text-decoration: none;
  color: white;
}