html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    /* Style your header as needed */
}

.main-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* height: 100%;
    width: 100%; */
}

.form-popup {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers children vertically */
    align-items: center;     /* Centers children horizontally */
    height: 100%;
    width: 100%;
}

#showLoginOrSignupButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(0, 0, 0);
    /* Removed the height and width percentages to allow content-based sizing */
}

.showSignup, .showLogin {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(255, 255, 255);
    font-size: 100%;
    font-weight: bolder;
    border: none;
    padding: 20% 10%;
    cursor: pointer;
    height: 300%;
    width: 300%;
    transition: box-shadow 0.3s ease-in-out;

    box-shadow: 0 0 15px  rgb(150, 217, 180);
}

.showSignup:hover, .showLogin:hover {
    box-shadow: 0 0 15px rgb(255, 110, 199);
}

#signup-form, #login-form {
    display: none;
    background-color: rgb(228, 149, 149);
    padding: 10%;
    color: rgb(245, 237, 237);
}





